main {
    width: 70%;
    margin: 0 auto;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 20vh;
    margin: 0 auto;
    padding-top: 5vh;
}

.searchBox {
    background-color: #999;
    height: 7vh;
    text-align: center;
    padding-top: 1vh;
}

.selectors {
    background-color: #ddd;
    height: 7vh;
    text-align: center;
    padding-top: 1vh;
}

select {
    margin-right: 2vh;
}

.bookDisplay {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 2px solid grey;
}

h2 {
    text-align: center;
}